@use '../abstracts/variables' as v;

* {
  box-sizing: border-box;
}

body {
  background-color: v.$color-primary;
  color: v.$font-color;
  font-family: v.$font-text;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 0 5%;
}

footer {
  height: 50px;
  font-size: 0.9rem;
  width: 100%;
  padding: 0 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: v.$font-title;
}

h1 {
  font-size: 3.9rem;
  font-weight: 700;
  letter-spacing: -0.03rem;
}

h2 {
  font-size: 3.1rem;
  font-weight: 900;
  letter-spacing: 0rem;
}

h3 {
  font-size: 2.25rem;
  letter-spacing: 0.01rem;
  font-weight: 500;
}

h4 {
  font-size: 1.1rem;
  font-weight: 500;
}

button {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  font-variant-caps: all-small-caps;
}

a {
  color: v.$font-color;
  text-decoration: none;
}

strong {
  font-weight: 500;
}

.sr-only {
  visibility: hidden;
}
