@use '../abstracts/variables' as v;

* {
  box-sizing: border-box;
}

body {
  background-color: v.$color-primary;
  color: v.$font-color;
  font-family: v.$font-text;
  font-size: 1rem;
  font-weight: 400;
  min-height: 100vh;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer {
  height: 50px;
  font-size: 0.9rem;
  width: 100vw;
  padding: 0 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: v.$font-title;
}

h1 {
  font-size: 3.9rem;
  font-weight: 300;
  letter-spacing: -0.03rem;
}

h2 {
  font-size: 3.1rem;
  font-weight: 400;
  letter-spacing: 0rem;
}

h3 {
  font-size: 2.25rem;
  letter-spacing: 0.01rem;
}

button {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  font-variant-caps: all-small-caps;
}

a {
  color: v.$font-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.sr-only {
  visibility: hidden;
}
