@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

@include media-md {
  .nav {
    position: absolute;
    right: 0;
    width: auto;
    opacity: 1;
    visibility: visible;
    margin: 4rem;

    .menu-nav {
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-end;
      height: auto;
      overflow: hidden;
      background-color: transparent;
      list-style: none;
      padding-right: 0;
      transform: translateY(0);

      &__item {
        transform: translateX(0);
        text-decoration: none;
        height: 30px;
        position: relative;

        &.active > a {
          color: $color-secondary;
        }
      }

      &__link {
        display: initial;
        color: $font-color;
        text-transform: initial;
        font-size: 1.2rem;
        padding: 0;
        margin: 0 1.5rem;
        font-weight: 400;
        position: relative;
        text-decoration: none;

        &::after {
          position: absolute;
          bottom: -12%;
          left: 0;
          content: "";
          height: 3px;
          width: 0%;
          background-color: $color-secondary;
          z-index: -1;
          @include transition-ease;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .menu-btn {
    display: none;
  }
}
