@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 30px;
  width: 30px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  @include transition-ease;

  &__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    background-color: $color-secondary;
    height: 3px;
    width: 30px;
    @include transition-ease;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      right: 0;
      width: 30px;
      height: 3px;
      background-color: $color-secondary;
      @include transition-ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 0;
      width: 30px;
      height: 3px;
      background-color: $color-secondary;
      @include transition-ease;
    }
  }

  &.open {
    top: 3rem;
    right: 50%;
    transform: translate(50%);
    & > .menu-btn__burger {
      width: 0;
      background-color: transparent;
      &::before {
        transform: translateY(8px) rotate(45deg);
      }
      &::after {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }

  &:focus {
    outline: none;
  }
}
